# üìù Hands-On Exercises: Functions in Python

**Task: Create a function that prints a welcome message.**

         "Hello, welcome to CMP7005, Introduction to Data Analytics!".

In [3]:
# Solution:
def greet():
  print("Hello, welcome to CMP7005, Introduction to Data Analytics!")
greet()

Hello, welcome to CMP7005, Introduction to Data Analytics!

**Function with Parameters**

**Task: Create a function that greets someone by name.**

    Hello <name>!,
    Glad to see you learning Function in Python!
    Happy Learning!

In [16]:
# Solution:
def greet(name):
    print(f"Hello {name}!")
    print("Glad to see you learning Function in Python!")
    print("Happy Learning!")
greet("Anu")

Hello Anu!
Glad to see you learning Function in Python!
Happy Learning!

In [27]:
def greet_person(name):
  print(f"Hello, {name}!")
  print(f"Glad to see you learning Function in Python!, {name}!")
  print("Happy Learning!")

  #Test
name=input("Enter your name:")
greet_person(name)

Enter your name:rush
Hello, rush!
Glad to see you learning Function in Python!, rush!
Happy Learning!

**Task: Create a function that makes a formatted name tag with first name, last name, and grade.**

**Output:**
```
==============================
    HELLO, MY NAME IS
    Amrita Prasad
    Level: 7
==============================

In [20]:
# Solution:
def name_tag(first_name, last_name, grade):
    print("="*30)
    print("    HELLO, MY NAME IS")
    print(f"    {first_name} {last_name}")
    print(f"    Level: {grade}")
    print("="*30)


name_tag("Amrita", "Prasad", 7)

==============================
    HELLO, MY NAME IS
    Amrita Prasad
    Level: 7
==============================

In [29]:
# Solution:
def name_tag(first_name, last_name, grade):
    print("="*30)
    print("    HELLO, MY NAME IS")
    print(f"    {first_name} {last_name}")
    print(f"    Level: {grade}")
    print("="*30)


name_tag("Rashmy", "Subasinghe", 7)

==============================
    HELLO, MY NAME IS
    Rashmy Subasinghe
    Level: 7
==============================

In [31]:
# Solution:
def name_tag(first_name, last_name, grade):
    print("="*30)
    print("    HELLO, MY NAME IS")
    print(f"    {first_name} {last_name}")
    print(f"    Level: {grade}")
    print("="*30)

first_name=input("Enter your First Name:")
last_name=input("Enter your Last Name:")
grade=input("Enter your Grade:")
name_tag(first_name, last_name, grade)

Enter your First Name:rush
Enter your Last Name:suba
Enter your Grade:7
==============================
    HELLO, MY NAME IS
    rush suba
    Level: 7
==============================

**Task: Create a function that prints rectangle information with length and width.**

`An example output:`

**Output:**
```
üìê Rectangle Details üìê
Length: 5 units
Width: 3 units
Area: 15 square units
Perimeter: 16 units
------------------------------

In [38]:
# Solution:
def rectangle_info(length, width):
    area = length * width
    perimeter = 2 * (length + width)

    print("Rectangle Details, below:")
    print(f"Length: {length} ")
    print(f"Width: {width} ")
    print(f"Area: {area} ")
    print(f"Perimeter: {perimeter}")
    print("=" * 30)

# Example usage
rectangle_info(5, 3)

Rectangle Details, below:
Length: 5
Width: 3
Area: 15
Perimeter: 16
==============================

In [44]:
# Solution:
def rectangle_info(length, width):
    area = length * width
    perimeter = 2 * (length + width)

    print("=" * 30)
    print("üìê Rectangle Details, below: üìê")
    print(f"Length: {length} ")
    print(f"Width: {width} ")
    print(f"Area: {area} ")
    print(f"Perimeter: {perimeter}")
    print("=" * 30)

#Test
length=int(input("Enter the Length:"))
width=int(input("Enter the Width:"))
rectangle_info(length, width)

Enter the Length:5
Enter the Width:3
==============================
üìê Rectangle Details, below: üìê
Length: 5
Width: 3
Area: 15
Perimeter: 16
==============================

**Function with Return Value**

**Task: Create a function add_numbers(a, b) that returns the sum of two numbers.
Call the function by inputting with different numbers and print the results.**

In [50]:
# Solution:
# Function definition
def add_numbers(a, b):
    return a + b

# Taking input from the user
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
print("=" * 30)
print("üü¢ Details, below: üü¢")

# Calling the function
result = add_numbers(num1, num2)
print("=" * 30)

# Result
print(f"First number: {num1}")
print(f"Second number: {num2}")
print(f"The sum of {num1} and {num2} is: {result}")

Enter the first number: 5
Enter the second number: 3
==============================
üü¢ Details, below: üü¢
==============================
First number: 5
Second number: 3
The sum of 5 and 3 is: 8

Create a function that calculates the area of a circle and returns it.

`(Area = 3.14 √ó radius √ó radius)`

**Output:**
```
Circle area: 78.5
Larger circle area: 314.0
Combined area: 78.26

In [57]:
# Solution:
import math
def circle_area(radius):
    area = math.pi * radius * radius
    return area

area1 = circle_area(radius1)
area2 = circle_area(radius2)

print(f"Circle area: {area1}")
print(f"Larger circle area: {area2}")
print(f"Combined area: {area1 + area2}")

Circle area: 113.09733552923255
Larger circle area: 12.566370614359172
Combined area: 125.66370614359172

In [59]:
# Solution:
import math
def circle_area(radius):
    area = math.pi * radius * radius
    return area

radius1 = int(input("Enter radius of first circle: "))
radius2 = int(input("Enter radius of second circle: "))
print("=" * 30)
print("üü¢ Area of the Circle: üü¢")
print("=" * 30)

area1 = circle_area(radius1)
area2 = circle_area(radius2)

print(f"Circle area: {area1}")
print(f"Larger circle area: {area2}")
print(f"Combined area: {area1 + area2}")

Enter radius of first circle: 10
Enter radius of second circle: 10
==============================
üü¢ Area of the Circle: üü¢
==============================
Circle area: 314.1592653589793
Larger circle area: 314.1592653589793
Combined area: 628.3185307179587

### **Try on your own question:**

**Task: Create a function that converts Celsius to Fahrenheit and returns the result.**

`(Formula: fahrenheit = celsius √ó 9/5 + 32)`

**Output:**
```
25¬∞C = 77.0¬∞F
Water freezes at 32.0¬∞F
Water boils at 212.0¬∞F

In [ ]:
# Solution:
def celcius_to_fahrenheit(celcius):
  fahrenheit =  celcius * 9/5 + 32
  return fahrenheit

### **Try on your own question:**

**Task: Create a function that converts kilometers to miles and returns it**
`(1 kilometer = 0.621 miles)`

**Output:**
```
5 km = 3.105 miles
10 km = 6.21 miles
Marathon distance: 26.082 miles

In [ ]:
# Solution:

**Using Default Parameters**

**Task: Write a function power(base, exponent=2) that returns base raised to the power of exponent. Test it by calling power(5) and power(2, 3).**

In [ ]:
# Solution:

**Palindrome Checker**

**Task: Write a function is_palindrome(text) that returns True if the string is the same when reversed, otherwise False.**

In [ ]:
# Solution:

**Multiple Return Values**

**Task: Create a function circle_measurements(radius) that returns both area and circumference of a circle.**

**Use formulas:**

**Area = œÄ √ó r¬≤**

**Circumference = 2 √ó œÄ √ó r**

In [ ]:
# Solution:

**Task: Create a function that calculates total and average from three game scores and returns both.**

```

Output:

Total: 270, , Average: 90.0
Your total is 280 and average is 93.33333333333333
```

In [60]:
# Solution:
def total_and_average(score1, score2, score3):
    total = score1 + score2 + score3
    average = total / 3
    return total, average

score1 = float(input("Enter first game score: "))
score2 = float(input("Enter second game score: "))
score3 = float(input("Enter third game score: "))

total, average = total_and_average(score1, score2, score3)
print(f"Total: {total}, Average: {average}")
print(f"Your total is {total} and average is {average}")

Enter first game score: 5
Enter second game score: 2
Enter third game score: 6
Total: 13.0, Average: 4.333333333333333
Your total is 13.0 and average is 4.333333333333333

In [65]:
# Solution
def total_and_average(score1, score2, score3):
    total = score1 + score2 + score3
    average = total / 3
    return total, int(average)

score1 = int(input("Enter first game score: "))
score2 = int(input("Enter second game score: "))
score3 = int(input("Enter third game score: "))

print("=" * 30)
print("‚ú® Total & Average from Three Game Scores: ‚ú®")
print("=" * 30)

total, average = total_and_average(score1, score2, score3)
print(f"Total: {total}")
print(f"Average: {average}")
print(f"Your Total is: {total}")
print(f"Your Average is: {average}")

Enter first game score: 2
Enter second game score: 4
Enter third game score: 8
==============================
‚ú® Total & Average from Three Game Scores: ‚ú®
==============================
Total: 14
Average: 4
Your Total is: 14
Your Average is: 4

**Task: Create a function that finds both the smallest and largest of three numbers.**
```
Output:

Smallest: 5, Largest: 12
Range: 25 to 100
```

In [ ]:
# Solution:

**Task: Create a function that takes a full name and returns first name and last name separately.**

**Output:**
```
Name Amrita Prasad
First name: Amrita, Last name: Prasad
Hello Amrita! Your last name is Prasad.

In [ ]:
# Solution:

### **Try on your own question:**

**Task: What to do: Create a function that returns both area and perimeter of a rectangle.**

In [ ]:
# Solution:

**Functions with Arbitrary Arguments:**

**Task: Create a function that can add any amount of numbers together**

In [ ]:
# Solution:

**Task: Create a function that finds the highest number from any amount of scores**

In [ ]:
# Solution:

**Task: Create a function that calculates the average of any amount of numbers**

In [ ]:
# Solution:

**Function with Keyword Arguments :**

**Task: Create a function book_info(title, author, year=2025) that prints the book details. Call it using positional and keyword arguments.**

In [ ]:
# Solution: